<div class="container">
    <h1>Prediction History</h1>
    <table border="1">
        <tr>
            <th>Timestamp</th>
            <th>Future Days</th>
            <th>Forecast</th>
            <th>Image</th>
        </tr>
        {% for entry in history %}
        <tr>
            <td>{{ entry.timestamp }}</td>
            <td>{{ entry.future_days }}</td>
            <td>{{ entry.forecast }}</td>
            <td><img src="{{ entry.image_path }}" width="100"></td>
        </tr>
        {% endfor %}
    </table>
</div>